/* line 14, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 17, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
  color: black;
  background: white;
}

/* line 19, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 21, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

/* line 23, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 25, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: "" "";
}
/* line 96, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
}

/* line 27, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 4, ../../views/css/_text.sass */
h1, h3, h5 {
  font-family: "Slackey", Verdana;
}

/* line 7, ../../views/css/_text.sass */
h2, h4 {
  font-family: "Josefin Sans", Verdana;
}

/* line 9, ../../views/css/_text.sass */
p {
  font-family: "Josefin Sans", Verdana;
}

/* line 9, ../../views/css/_forms.sass */
label {
  font-weight: bold;
}

/* line 11, ../../views/css/_forms.sass */
fieldset {
  padding: 1.4em;
  margin: 0 0 1.5em 0;
}

/* line 14, ../../views/css/_forms.sass */
legend {
  font-weight: bold;
  font-size: 1.2em;
}

/* line 18, ../../views/css/_forms.sass */
input.text, input.title, input[type=email], input[type=text], input[type=password] {
  margin: 0.5em 0;
  background-color: white;
  padding: 5px;
}
/* line 26, ../../views/css/_forms.sass */
input.title {
  font-size: 1.5em;
}
/* line 28, ../../views/css/_forms.sass */
input[type=checkbox], input.checkbox, input[type=radio], input.radio {
  position: relative;
  top: 0.25em;
}

/* line 34, ../../views/css/_forms.sass */
textarea {
  margin: 0.5em 0;
  padding: 5px;
}

/* line 37, ../../views/css/_forms.sass */
select {
  margin: 0.5em 0;
}

/* line 39, ../../views/css/_forms.sass */
fieldset {
  border: 1px solid #cccccc;
}

/* line 41, ../../views/css/_forms.sass */
input.text, input.title, input[type=email], input[type=text], input[type=password], textarea, select {
  min-height: 30px;
  margin-top: 10px;
  font-size: 20px;
  padding-left: 8px;
  background-color: #efefef;
  border: none;
  -webkit-border-radius: 2px 3px;
  -moz-border-radius: 2px 5px / 3px 6px;
  -o-border-radius: 2px 5px / 3px 6px;
  -ms-border-radius: 2px 5px / 3px 6px;
  -khtml-border-radius: 2px 5px / 3px 6px;
  border-radius: 2px 5px / 3px 6px;
}
/* line 49, ../../views/css/_forms.sass */
input.text:focus, input.title:focus, input[type=email]:focus, input[type=text]:focus, input[type=password]:focus, textarea:focus, select:focus {
  border: 2px solid #4f7a34;
}

/* line 1, ../../views/css/_styles.sass */
.sectionHeader {
  padding-top: 8px;
  padding-bottom: 8px;
  border-bottom: 2px #4f7a34 solid;
  border-top: 2px #4f7a34 solid;
}

/* line 11, ../../views/css/_styles.sass */
.homeTitle {
  overflow: hidden;
  *zoom: 1;
}
/* line 13, ../../views/css/_styles.sass */
.homeTitle.relative {
  height: 330px;
}
/* line 15, ../../views/css/_styles.sass */
.homeTitle h1 {
  color: #73b448;
  font-size: 120px;
  margin-top: 40px;
}
/* line 20, ../../views/css/_styles.sass */
.homeTitle h2 {
  font-family: "Josefin Sans", Verdana;
  color: #4f7a34;
  font-size: 22px;
  margin: 15px;
  margin-bottom: 5px;
}
/* line 26, ../../views/css/_styles.sass */
.homeTitle.relative h2 {
  position: relative;
  left: 305px;
  top: -100px;
  width: 700px;
}

/* line 33, ../../views/css/_styles.sass */
.featureCol {
  border-top: 1px #efefef solid;
  margin-top: 20px;
  padding-top: 15px;
  margin-bottom: 20px;
}
/* line 38, ../../views/css/_styles.sass */
.featureCol h3 {
  color: #73b448;
  font-size: 22px;
}
/* line 41, ../../views/css/_styles.sass */
.featureCol h4 {
  color: #666666;
  font-size: 13px;
  margin-bottom: 8px;
  position: relative;
  top: -2px;
}
/* line 47, ../../views/css/_styles.sass */
.featureCol p {
  font-size: 14px;
  color: black;
  padding-bottom: 10px;
  line-height: 16px;
  letter-spacing: 1px;
}
/* line 53, ../../views/css/_styles.sass */
.featureCol ul {
  margin: 8px;
}
/* line 55, ../../views/css/_styles.sass */
.featureCol li {
  font-size: 11px;
  color: #4f7a34;
}

/* line 59, ../../views/css/_styles.sass */
.infoCol {
  margin-top: 20px;
  margin-bottom: 20px;
}
/* line 62, ../../views/css/_styles.sass */
.infoCol .inner {
  background-color: #f9f9f9;
  border: 1px solid #efefef;
  -webkit-border-radius: 4px 4px;
  -moz-border-radius: 4px / 4px;
  -o-border-radius: 4px / 4px;
  -ms-border-radius: 4px / 4px;
  -khtml-border-radius: 4px / 4px;
  border-radius: 4px / 4px;
}
/* line 66, ../../views/css/_styles.sass */
.infoCol .inner h3 {
  color: #4f7a34;
  font-size: 30px;
  padding: 12px;
}
/* line 71, ../../views/css/_styles.sass */
.infoCol .inner ul li {
  margin: 10px;
  color: #4f7a34;
  display: block;
  overflow: hidden;
  *zoom: 1;
}
/* line 76, ../../views/css/_styles.sass */
.infoCol .inner ul li h4 {
  color: #4f7a34;
  font-size: 15px;
}
/* line 79, ../../views/css/_styles.sass */
.infoCol .inner ul li img {
  border: 1px solid white;
  float: left;
  margin-right: 11px;
}

/* line 84, ../../views/css/_styles.sass */
.scienceCol {
  border-top: 1px #efefef solid;
  margin-top: 20px;
  padding-top: 15px;
  margin-bottom: 20px;
}
/* line 89, ../../views/css/_styles.sass */
.scienceCol h3 {
  color: #333333;
  font-size: 23px;
}
/* line 92, ../../views/css/_styles.sass */
.scienceCol h4 {
  color: #333333;
  font-size: 12px;
}
/* line 95, ../../views/css/_styles.sass */
.scienceCol p {
  font-size: 13px;
  color: black;
}
/* line 98, ../../views/css/_styles.sass */
.scienceCol ul {
  margin: 8px;
}
/* line 100, ../../views/css/_styles.sass */
.scienceCol li {
  font-size: 11px;
  color: #4f7a34;
}

/* line 104, ../../views/css/_styles.sass */
.grid {
  height: 320px;
}

/* line 107, ../../views/css/_styles.sass */
.button {
  padding: 8px;
  color: white;
  -webkit-border-radius: 4px 4px;
  -moz-border-radius: 4px / 4px;
  -o-border-radius: 4px / 4px;
  -ms-border-radius: 4px / 4px;
  -khtml-border-radius: 4px / 4px;
  border-radius: 4px / 4px;
  border: 3px #73b448;
}
/* line 112, ../../views/css/_styles.sass */
.button a {
  padding: 8px;
  color: white;
  -webkit-border-radius: 4px 4px;
  -moz-border-radius: 4px / 4px;
  -o-border-radius: 4px / 4px;
  -ms-border-radius: 4px / 4px;
  -khtml-border-radius: 4px / 4px;
  border-radius: 4px / 4px;
  border: 3px #73b448;
  border-color: white;
  padding: 10px;
  display: block;
}

/* line 121, ../../views/css/_styles.sass */
.button.dark {
  background-color: #73b448;
}

/* line 3, ../../views/css/_layout.sass */
.first {
  margin-left: 0;
}

/* line 5, ../../views/css/_layout.sass */
.last {
  margin-right: 0;
}

/* line 8, ../../views/css/_layout.sass */
.layout {
  margin: 10px 0px 10px 0px;
  overflow: hidden;
  *zoom: 1;
}
/* line 11, ../../views/css/_layout.sass */
.layout .col2 {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 460px;
}
/* line 13, ../../views/css/_layout.sass */
.layout .col3 {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 280px;
}
/* line 15, ../../views/css/_layout.sass */
.layout .col3.extra {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 340px;
}
/* line 17, ../../views/css/_layout.sass */
.layout .col4 {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 220px;
}

/* line 5, ../../views/css/grid.sass */
.wrapper {
  margin-left: auto;
  margin-right: auto;
  width: 960px;
  overflow: hidden;
  *zoom: 1;
}

/* line 10, ../../views/css/grid.sass */
#headerWrapper #top {
  background-color: #4f7a34;
}
/* line 12, ../../views/css/grid.sass */
#headerWrapper #top a {
  color: white;
  text-decoration: none;
  font-size: 11px;
}
/* line 16, ../../views/css/grid.sass */
#headerWrapper #top #type {
  color: white;
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 460px;
  padding: 5px 0px 5px 0px;
}
/* line 20, ../../views/css/grid.sass */
#headerWrapper #top #language {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 460px;
  text-align: right;
  padding: 5px 0px 5px 0px;
}
/* line 25, ../../views/css/grid.sass */
#headerWrapper #header {
  margin-top: 20px;
}
/* line 27, ../../views/css/grid.sass */
#headerWrapper #header #logo {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 460px;
}
/* line 29, ../../views/css/grid.sass */
#headerWrapper #header #slogan {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 460px;
}
/* line 31, ../../views/css/grid.sass */
#headerWrapper #header #slogan img {
  margin-left: 100px;
  margin-top: 25px;
}

/* line 36, ../../views/css/grid.sass */
#navWrapper {
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #74b54a), color-stop(100%, #236923));
  background-image: -moz-linear-gradient(top, #74b54a 0%, #236923 100%);
  background-image: linear-gradient(top, #74b54a 0%, #236923 100%);
}
/* line 40, ../../views/css/grid.sass */
#navWrapper #nav li {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-left: 0;
  margin-right: 0;
}
/* line 46, ../../views/css/grid.sass */
#navWrapper #nav li a {
  font-size: 14px;
  color: white;
  padding: 10px 7px 8px 7px;
  margin: 0px 5px 0px 5px;
  display: block;
  text-decoration: none;
  width: 100px;
  text-align: center;
  border-right: 1px solid white;
  font-family: "Josefin Sans", Verdana;
}
/* line 57, ../../views/css/grid.sass */
#navWrapper #nav li a.large {
  width: 180px;
}

/* line 60, ../../views/css/grid.sass */
#contentWrapper {
  background-color: rgba(255, 255, 255, 0.3);
}
/* line 62, ../../views/css/grid.sass */
#contentWrapper #content {
  min-height: 500px;
}

/* line 65, ../../views/css/grid.sass */
#preFooterWrapper {
  background-color: #efefef;
  color: white;
  min-height: 100px;
}

/* line 71, ../../views/css/grid.sass */
#footerWrapper {
  background-color: #73b448;
  color: white;
  min-height: 100px;
}
/* line 75, ../../views/css/grid.sass */
#footerWrapper #footer {
  padding-bottom: 20px;
}
/* line 77, ../../views/css/grid.sass */
#footerWrapper #footer h1 {
  color: white;
  font-size: 90px;
  margin-top: 40px;
}
/* line 82, ../../views/css/grid.sass */
#footerWrapper #footer h2 {
  font-family: "Josefin Sans", Verdana;
  color: #4f7a34;
  font-size: 22px;
  margin: 15px;
  margin-bottom: 5px;
}
