.homeTitle
	%h1.pageTitle Hi, let us get in touch with you
	%h2 you can always send us an email to helpdesk@fundacionsaimiri.org
	%h2 don't worry we'll get back to you soon

.layout
	.col3
		%h1 Facebook

	.col3.extra
		%h1 Chat

	.col3
		%h1 Email Form