.homeTitle.relative
	%h1.pageTitle Experience Osa
	%h2.pageFeature.relative The most biodiverse place on Earth
	%h2.pageFeature.relative We are helping our community become Sustainable
	%h2.pageFeature.relative You can participate on it progress

.layout
	.col3.first.extra.featureCol
		%h3.title The Non-Profit
		%p Fundacion Saimiri is a Non Profit organization , local to the Osa Peninsula of Costa Rica that works on protecting the four species of monkeys on the area surrounding Corcovado National Park in Costa Rica.
	.col3.featureCol
		%img{:src=>"/images/home_feature1.jpg"}
		%h3.title Volunteering
		%h4.subTitle Learn and have fun all in one 
		%p Programas are for groups or individuals seeking a complete travel experience.
		%p Volunteers spend their day learing about composting, tree nursuring and working primates & its ecosystem.
		%p In the mist of Corcovado NP; visitors can learn a sustaniable way of life; not from the future , but from past.
	.col3.last.featureCol
		%img{:src=>"/images/home_feature2.jpg"}
		%h3.title Road to Corcovado
		%h4.subTitle The road to Corcovado National Park starts here!
		%p Spend the night in our Biological Station before entering Corcovado National Park or the Osa Trail; 
		%p We offer private and shared room settings for all ages and nationalities.
		%p Food and Beverages are provided , as well as lunch boxes for the Park Hickes
		%p Park Reservations and Guide Services ( local & profesional )


.layout
	.col2.first.infoCol
		.inner
			%h3.title What can you see?
			%ul
				%li
					%img{:src=>"/images/see/1.png"}
					%h4 Spider, Titi, Howler Monkeys 
				%li
					%img{:src=>"/images/see/1.png"}
					%h4 Macaws, Toucans, King Vultures
				%li
					%img{:src=>"/images/see/1.png"}
					%h4 Frogs, Snakes, Spiders
				%li
					%img{:src=>"/images/see/1.png"}
					%h4 Ant Eaters, Pizotes, Tamanduas
				%li
					%img{:src=>"/images/see/1.png"}
					%h4 Pumas, Manigordos, Jaguars* 
				%li
					%img{:src=>"/images/see/1.png"}
					%h4 Dolfins, Turtules, Whales
	.col2.last.infoCol
		.inner
			%h3 What can you do?
			%ul
				%li
					%img{:src=>"/images/do/1.png"}
					%h4 Hicking among Mammals
				%li
					%img{:src=>"/images/do/1.png"}
					%h4 Learn Sustainability and Permaculture*
				%li
					%img{:src=>"/images/do/1.png"}
					%h4 Teach English to Kids and Teens
				%li
					%img{:src=>"/images/do/1.png"}
					%h4 Primary Forest Tree Nursuring
				%li
					%img{:src=>"/images/do/1.png"}
					%h4 River and Mud Bathing
				%li
					%img{:src=>"/images/do/1.png"}
					%h4 Pristine Beach Sunbathing or Surfing
					
					
%a{:name=>"areas"}
.layout.sectionHeader
	.col4.first.scienceCol
		%h3.title Enviromental Education
		%p dd fdsafd safdf dsfdsafdsaf dsafds afdsfdsafdfds fasdfd

	.col4.scienceCol
		%h3.title Productive Altenatives
		%p dd fdsafd safdf dsfdsafdsaf dsafds afdsfdsafdfds fasdfd

	.col4.scienceCol
		%h3.title Habitar Restoration 
		%p dd fdsafd safdf dsfdsafdsaf dsafds afdsfdsafdfds fasdfd
	.col4.last.scienceCol
		%h3.title Scientific Research
		%p dd fdsafd safdf dsfdsafdsaf dsafds afdsfdsafdfds fasdfd
