.homeTitle
	%h1.pageTitle Projects
	%h2.pageFeature Volunteers Participate in all of this proyects
	
 
.layout
	.col3.first.grid
		%img{:src=>"/images/project_1.png"}
		.title La Casita del Queso
		.post dfd safdaf dsaf da fdsafds afdafsdfsad
		
	.col3.first.grid
		%img{:src=>"/images/project_1.png"}
		.title La Casita del Queso
		.post dfd safdaf dsaf da fdsafds afdafsdfsad
	
	.col3.first.grid
		%img{:src=>"/images/project_1.png"}
		.title La Casita del Queso
		.post dfd safdaf dsaf da fdsafds afdafsdfsad
	.col3.first.grid
		%img{:src=>"/images/project_1.png"}
		.title La Casita del Queso
		.post dfd safdaf dsaf da fdsafds afdafsdfsad