.homeTitle
	%h1.pageTitle Volunteer
	%h2.pageFeature Our programs are scientific, practical and inspirational ( no hard work )
	%h2.pageFeature Here are sample volunteer programs ( they change monthly )
	
.layout
	.col3.first.grid
		%img{:src=>"/images/project_1.png"}
		.title La Casita del Queso
		.post dfd safdaf dsaf da fdsafds afdafsdfsad

	.col3.first.grid
		%img{:src=>"/images/project_1.png"}
		.title La Casita del Queso
		.post dfd safdaf dsaf da fdsafds afdafsdfsad

	.col3.first.grid
		%img{:src=>"/images/project_1.png"}
		.title La Casita del Queso
		.post dfd safdaf dsaf da fdsafds afdafsdfsad
	.col3.first.grid
		%img{:src=>"/images/project_1.png"}
		.title La Casita del Queso
		.post dfd safdaf dsaf da fdsafds afdafsdfsad
	
.layout
	.col3.first.featureCol
		%h3.title Individual Travelers
		%h4.subTitle Short-term Experice with Tours
		%p A vacation program where you will learn about sustainable practices, and ecosystem dynamics directly from Biologist and Founder Msc. Daniela Solano.
		%p Every 7 days, there are adventure tours like tree climbing and surfing; Biological Hikes doing Primate Research, and community activities like painting and playing soccer.
		%p Programs start every 15 days, and get full really fast; so plan with enought time. If you can to spend more time; we can help arrange a 4 days trip into Corcovado NP or spend time on pristine beaches, and the come back for the next program.
		%p No two programs are the same, this is a real project; things change every week.
	.col3.extra.featureCol
		%h3.title Aventure and Academic
		%h4.subTitle Learn and have fun all in one
		%p Some of our best experiences happend with highschool and College Students; Connection with the community and the natural surrounding is exceptional with young people. The way the can adapt and enjoy the experience 
		%p We catter for groups of up to 15 individuals and can adjust to fit highschool or university programs.
		%p All programs and activities are provided by Msc Daniela Solano, president of Fundacion Saimiri and registered bioligst.
		%p All students must carry their own travel Insurrance. 
		
	.col3.last.featureCol
		%h3.title Long-Term
		%h4.subTitle Live with us, and make a difference within yourself