.layout
	.col2
		%h1 Contact Info?
		%h2 Contact Us anytime
		.phoneNumbers
		%h2 Phone: +506 27 35 17 33
		%h2 Email: helpdesk@fundacionsaimiri.org
		%h2 Location: Guadalupe, La Palma Puerto Jimenez
	#form1.col2{:style=>"text-align: right;"}
		%h1 Online Help?
		%input{:type=>"text",:style=>"margin-top: 20px",:title=>"type your email"}
		%textarea{:type=>"textarea",:style=>"margin-top: 20px",:title=>"type your message",:cols=>"6"}		
		.button 
			%a Send
 