#preFooterWrapper
	#prefooter.wrapper.grey
		.layout
			.col3.first.featureCol
				%h3.title Why
				%h4 Because we need you to change your ways
				%p We firmly believe that contact with nature is the best way to help humans regain their spirit and find a solution to our problems.
				%p We provide the setting, where people can disconnect from their way of living; and experience a whole new world. One with simplicity, where we share the land with so much wildlife, and understand growth as individuals from such exposure.

			.col3.extra.featureCol
				%h3.title Where
				%h4.subTitle Guadalupe, the town before Corcovado National Park
				%p Located just 5km from Corcovado National Park, bordering the Rincon River; Guadaulpe is seeking to become sustainable and create an economy by our community for our community.
				%p In our community one of Osa Best Ecolodges grew and changed their families farming business into conservation; We hand build oursefls our own Clinic and Community Hall, Mantain the Football field, Roads;
				%p Far from being perfect, we are a proyect in the making; And we invite you to visit. Monkets, Ant Eaters, Macaws, Tocuans and such often do.

			.col3.last.featureCol
				%h3.title When
				%h4.subTitle The world changes from rainy season to dry season; 
				%p But animals live by the schedule of threes, when fruits and leaves are available in the Primary Forest; Wildlife is harder to spot, but when things get rought; They spend their time in our backyards...
				%p Summer ( Dic - May ) is warm, sunny , blue skyes. In winter it rains often , the river is beautifull to swim in, weather is warm; and animals are everywhere.