#navWrapper
	%ul#nav.wrapper
		%li
			%a{:href=>"/",:title=>""} Inicio
		%li 
			%a{:href=>"/#areas",:title=>""} Our Work
		%li 
			%a{:href=>"/projects",:title=>""} Projects
		%li 
			%a{:href=>"/volunteer",:title=>""} Volunteer
		%li 
			%a.large{:href=>"/road_to_corcovado",:title=>""} Road to Corcovado
		%li 
			%a{:href=>"#contact",:title=>""} Contact Us
